/* Write some CSS below */
body {
	font-family: 'Overpass', sans-sherif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: white;
}

h1, h2 {
	font-family: 'Overpass', sans-sherif;
	font-size: 32px;
	color: rgb(242,101,43);
}

h3:hover{
	color: rgb(242, 101, 43);
}
}

a{
	color: rgb(242,101,43);
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: rgb(30, 30, 30); 

}

/*customer class design*/
 
 .btn-white{
 	background-color: rgb(242, 101, 43);
 	color: white;
 	padding: 10px 15px;
 	border-radius: 2px;

 }

 .banner{
 	background-image: url(https://images.pexels.com/photos/57645/pexels-photo-57645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
 	background-size: cover;
 	color: white;
 	text-align: center;
 	padding: 120px 0px
 }

 .banner h1{
 	 font-size: 40px;
 }

.banner p{
	font-size: 20px;
	opacity: 0.7;
	margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: center;
  margin-right: center;
}

.card-white {
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1 );
	padding: 18px;
	margin: 20px;
	
}











